*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    border: 0;
    transition: opacity .7s;
}
body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
}
h1, h2,h3, p{
    color: white;
    padding: 5px;
    text-align: center;
   
    
}

#clue{
    position: absolute;
    top: 3%;
    left: 5%;

    font-size: large;
    font-style: bold;
    text-decoration: underline;
    
}

#phrases p{
    display: none;
}

input{
                
    font-size: 4em;
text-align: center;
color: white;
border: white solid 3px;
background-color: transparent;
width: 25%;
height: 6%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
cursor: pointer;

}

.shake{
    animation: shake .7s ;
   
  }

    @keyframes shake {
        0%{
            transform: translate(-50%, -50%);
        }
        20%{
            transform: translate(-40%, -50%);
        }
        30%{
            transform: translate(-60%, -50%);
        }
        40%{
            transform: translate(-45%, -50%);
        }
        60%{
            transform: translate(-55%, -50%);
        }
        80%{
            transform: translate(-48%, -50%);
        }
        100%{
            transform: translate(-52%, -50%);
        }
    }

    @keyframes fadeIn {
        0%{
          opacity: 1;
        }
        50%{
          opacity: 0.2;
        }
        100%{
          opacity: 1;
        }
      }

      @keyframes glitch {
        0% { transform: translate(0, 0); }
        20% { transform: translate(-3px, -3px); }
        40% { transform: translate(3px, -3px); }
        60% { transform: translate(-3px, 3px); }
        80% { transform: translate(3px, 3px); }
        100% { transform: translate(0, 0); }
      }
      
      .glitch {
        display: inline-block;
        animation: glitch 0.3s steps(2, end) infinite;
      }

    .trigger, .estereggs, .shard {
        position: absolute;
        margin: 10px;
        cursor: pointer;
        z-index: 1;
        -webkit-box-reflect: below 0px linear-gradient(transparent,#0008);
    }
    .shard{
        width: 30px;
        display: inline-block;
        cursor: pointer;
    }
    .shard::before, .shard::after{
        content: "";
        pos
    }
    
    .estereggs{
        display: none;
        
    }
    #div1{
        height: 65px;
        width: 33px;
        top: 69%;
        left:87%;
    }
    #div2{
        height: 50px;
        width: 40px;
        top: 66%;
        left: 32%;
    }
    #div3{
        width: 20px;
        height: 30px;
        top: 62%;
        left: 70%;
    }
    #div4{
        width: 20px;
        height: 30px;
        top: 62%;
        left: 47%;
    }
    #div5{
        width: 55px;
        height: 70px;
        top: 82%;
        left: 67%;
    } 
    #div6{
        width: 20px;
        height: 25px;
        top: 60%;
        left: 30%;
    }

    #div7{
        width: 20px;
        height: 25px;
        top: 60%;
        left: 30%;
    }
    #div8{
        width: 20px;
        height: 25px;
        top: 60%;
        left: 43%;
        transition: opacity .7s;
    }
    #div9{
        width: 20px;
        height: 25px;
        top: 60%;
        left: 55%;
    }
  .xxx{
    background-color: red;
  }


  
  #qrc{
    width: 50px;
    position: absolute;
    top: 50%;
    left: 21%;
    opacity: 5%;
  }

  #container {
    height: 60vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/*** Directions ***/
/** Horizontal -> right **/
.flip-horizontal-right:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-horizontal-right .flip-card-back{
    transform: rotateY(180deg);
}

/** Horizontal -> left **/
.flip-horizontal-left:hover .flip-card-inner {
    transform: rotateY(-180deg);
}

.flip-horizontal-left .flip-card-back {
    transform: rotateY(-180deg);
}

/** Vertical - up **/
.flip-vertical-up:hover .flip-card-inner {
    transform: rotateX(180deg);
}

.flip-vertical-up .flip-card-back {
    transform: rotateX(180deg);
}

/** Vertical - down **/
.flip-vertical-down:hover .flip-card-inner {
    transform: rotateX(-180deg);
}

.flip-vertical-down .flip-card-back {
    transform: rotateX(-180deg);
}

/* The flip card container - set the width and height to whatever you want*/
.flip-card {
    background-color: transparent;
    width: 220px;
    height: 310px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}
  
/* Position the front and back side */
.flip-card-front, 
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* It fits the image in the container */
.flip-card-front img,
.flip-card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
